name: Test Push to GHCR

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Pull and push test image
        run: |
          docker pull hello-world
          docker tag hello-world ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
